# make sure each line ends in LF not CRLF!
xterm:xterm
nedit:nedit
XFTree:xftree
Opera:opera
Gaim:gaim
X-Chat:xchat
XMMS:xmms
xv:xv
The GIMP:gimp
About:windowlab -version | xmessage -file -
Quit:skill windowlab
